.slds-modal__container {
    width: 50%; /* Adjusting the width of the modal for better alignment */
}

.slds-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slds-modal__content {
    display: flex;
    flex-direction: column;
}

.slds-combobox__form-element {
    margin-top: 0; /* Adjusting spacing for combobox */
}

.slds-p-around_x-small {
    display: flex;
    align-items: center;
}

.slds-scrollable_y {
    max-height: 200px; /* Ensure scrolling for current members section */
    overflow-y: auto;
}

.row-background {
    background-color: #f4f6f9; /* Light gray background */
}

.search-bar-container {
    display: flex;
    background-color: white;
    align-items: center;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    /* padding: 5px; */
    width: 400px;
}
.border{
    border: 1px solid #d8dde6;
    border-radius: 5px;
    padding: 2px;


}
.left-icon {
    margin-right: 4px;
}

.right-icon {
    margin-left: auto;
    color: #0070d2;
    cursor: pointer;
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    /* padding: 5px; */
}